<section id="faq" class="pt-20 md:pt-28 lg:pt-40 xl:pt-52">
  <div class="relative">
    <!-- BORDERS BEHIND TITLE -->
    <div
      class="absolute top-1/2 z-0 flex w-full -translate-y-1/2 flex-col items-start gap-y-5"
    >
      <div class="bg-secondary h-4 w-full"></div>
      <div class="bg-secondary h-4 w-full"></div>
    </div>

    <!-- TITLE -->
    <div
      class="xs:w-max xs:px-8 relative z-10 mx-auto w-11/12 bg-white py-5 sm:mx-0 sm:ml-7 md:ml-12 lg:ml-40 lg:px-16 xl:ml-80 xl:px-20"
    >
      <h2 class="md:text-5x text-center text-3xl sm:text-4xl lg:text-5xl">
        Foire aux <span class="text-main">questions</span>
      </h2>
    </div>
  </div>

  <!-- QUESTIONS -->
  <div class="xs:px-3 mt-8 px-1 md:px-10 lg:px-40 xl:px-80">
    @if (faqService.loading()) {
      <app-faq-website-skeleton />
    } @else if (faqService.error()) {
      <p class="text-error">{{ faqService.error() }}</p>
    } @else if (faqService.faqItems().length === 0) {
      <p>Aucune question disponnible</p>
    } @else {
      <p-accordion [value]="0">
        @for (items of faqService.faqItems(); track items.id) {
          <p-accordion-panel [value]="items.id">
            <p-accordion-header>
              <p class="font-staatliches text-lg md:text-xl">
                {{ items.question }}
              </p>
            </p-accordion-header>
            <p-accordion-content>
              <p class="m-0 sm:w-11/12 md:w-9/12">{{ items.answer }}</p>
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    }
  </div>
</section>
