<div class="">
  @if (faqService.loadingList()) {
    <app-table-skeleton
      [headers]="['Question', 'Réponse', 'Ajouté le', 'Modifié le', 'Actions']"
      [rows]="10"
      minWidth="50rem"
    />
  } @else if (faqService.errorList()) {
    <div class="flex flex-col items-center justify-center gap-y-10">
      <app-alert-card type="error" containerClass="mt-3" [widthFull]="true">
        <p>
          Une erreur est survenue lors de la récupération des éléments de la
          FAQ.
        </p>
        <p>Réessaie dans quelques instants.</p>
        <p>Si le problème persiste, contacte l’assistance.</p>
      </app-alert-card>
      <app-button
        type="button"
        (click)="faqService.refresh()"
        [disabled]="faqService.loadingList()"
      >
        Recharger la liste
      </app-button>
    </div>
  } @else {
    <!-- TODO VOIR SI JE LAISSE LE TABLEAU SCROLLABLE OU PAS -->
    <!-- 
    [scrollable]="true"
      scrollHeight="550px"
     -->
    <p-table
      [value]="faqService.faqItems()"
      [tableStyle]="{ 'min-width': '50rem' }"
      stripedRows
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Question</th>
          <th>Réponse</th>
          <th class="whitespace-nowrap">Ajouté le</th>
          <th class="whitespace-nowrap">Modifié le</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-faqItem>
        <tr>
          <td class="">{{ faqItem.question }}</td>
          <td class="">
            {{ faqItem.answer }}
          </td>
          <td class="whitespace-nowrap">
            {{ faqItem.createdAt | date: "dd/MM/yy" }}
          </td>
          <td class="whitespace-nowrap">
            {{ faqItem.updatedAt | date: "dd/MM/yy" }}
          </td>
          <td class="">
            <div class="flex items-center justify-center gap-x-2">
              <app-action-icon-button
                type="edit"
                ariaLabel="Bouton pour modifier un élément de la FAQ"
                (clicked)="onShowEditDialog(faqItem)"
              />
              <app-action-icon-button
                type="delete"
                ariaLabel="Bouton pour supprimer un élément de la FAQ"
                (clicked)="onDelete(faqItem)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>

<!-- CONFIRMATION DIALOG -->
<!-- TODO VOIR POUR EN FAIRE UN COMPOSANT REUTILISABLE -->
<p-confirmdialog #cdFaq key="faq-delete">
  <ng-template
    #headless
    let-message
    let-onAccept="onAccept"
    let-onReject="onReject"
  >
    @if (message) {
      <div
        class="bg-surface-0 dark:bg-surface-900 flex flex-col items-center rounded p-8"
      >
        <!-- WARNING LOGO -->
        <div
          class="bg-error-100 -mt-20 flex h-24 w-24 items-center justify-center rounded-full"
        >
          <i class="pi pi-exclamation-triangle text-error text-5xl!"></i>
        </div>

        <!-- MESSAGE -->
        <div
          class="mt-6 flex flex-col items-center justify-center gap-y-3 text-center"
        >
          <p class="text-error text-center text-2xl font-bold">
            {{ message.header }}
          </p>
          <div class="text-text flex flex-col gap-y-1">
            <p>Veux-tu vraiment supprimer cet élément de la FAQ ?</p>
            <p class="font-semibold">"{{ message.message }}"</p>
          </div>
          <p class="text-error underline">Cette action est irréversible !</p>
        </div>

        <!-- BUTTONS ROW -->
        <div class="mt-6 flex items-center gap-5">
          <app-dash-button
            severity="secondary"
            label="Annuler"
            (clicked)="onReject()"
          />
          <app-dash-button
            severity="danger"
            label="Supprimer"
            (clicked)="onAccept()"
          />
        </div>
      </div>
    }
  </ng-template>
</p-confirmdialog>

<!-- EDIT DIALOG -->
<app-faq-edit-dialog
  [(visible)]="visible"
  [item]="faqService.selectedFaqItem()"
  [loading]="faqService.loadingOne() || faqService.saving()"
  (cancel)="onEditCancel()"
  (save)="onEditSave($event)"
/>
