<!-- INFOS -->
<section
  id="category"
  class="px-5 py-12 md:px-0 lg:flex lg:items-center lg:justify-between lg:gap-x-10 lg:px-8 xl:mx-auto xl:w-400 xl:px-0"
>
  <h2 class="text-main text-center text-3xl md:text-5xl">Infos</h2>
  <div
    class="mt-5 flex flex-col gap-y-5 md:mx-auto md:mt-10 md:w-2/3 lg:mx-0 lg:mt-0 lg:w-auto lg:flex-row lg:gap-x-2 xl:gap-x-4"
  >
    @for (info of infos; track $index) {
      <div class="border-main border-l-4 pl-2.5">
        <p class="text-main text-sm">
          {{ info.text }}
          <span class="font-bold">{{ info.span }}</span>
        </p>
      </div>
    }
  </div>
</section>

<!-- CATEGORIES -->
<section class="mt-10 flex flex-col gap-y-20 px-5 md:px-0 lg:hidden">
  @for (item of textContent; track $index) {
    <div class="flex flex-col items-center gap-y-3 md:gap-y-5">
      <h2 class="text-center text-4xl md:text-5xl">
        {{ item.title }}
      </h2>
      <div
        class="flex flex-col items-center gap-y-3 md:justify-center md:gap-x-20"
        [ngClass]="item.id % 2 === 0 ? 'md:flex-row-reverse' : 'md:flex-row'"
      >
        <div class="w-40">
          <img [src]="item.imageUrl" alt="#" class="object-contain" />
        </div>
        <div class="flex flex-col gap-y-2 md:w-1/2">
          @for (text of item.descriptions; track $index) {
            <p>{{ text }}</p>
          }
        </div>
      </div>
    </div>
  }
</section>

<section class="hidden lg:block">
  <app-horizontal-accordion></app-horizontal-accordion>
</section>
