<section
  id="registration"
  class="px-5 pt-16 md:pt-24 lg:bg-[url('/images/website/casque-football-americain.svg')] lg:bg-contain lg:bg-right lg:bg-no-repeat lg:px-0"
>
  <div class="sm:mx-auto sm:w-100.75">
    <h2 class="text-center text-4xl md:text-5xl">S’inscrire en 4 étapes</h2>
    <p class="mt-3 text-center font-light">
      Pour rejoindre les Artilleurs, rien de plus simple - il suffit de
      compléter quelques documents
    </p>
  </div>

  <div class="relative">
    <div
      class="pointer-events-none absolute top-1/2 z-0 hidden w-full -translate-y-1/2 flex-col gap-y-5 lg:flex"
    >
      <div class="bg-main h-5 w-full"></div>
      <div class="bg-main h-5 w-full"></div>
    </div>
    <div
      class="z-10 mt-12 grid grid-cols-1 gap-16 md:mx-auto md:w-204 md:grid-cols-2 md:gap-24 lg:w-350 lg:grid-cols-4 lg:gap-12 xl:mt-20 xl:w-402.5 xl:gap-14"
    >
      <!-- CARD STYLE -->
      @for (step of registrationSteps; track $index) {
        <div
          class="border-main relative flex h-full flex-col border-4 bg-white px-5 pt-10 pb-6 sm:mx-auto sm:w-90 md:pt-12 lg:w-auto xl:w-90 xl:px-7"
        >
          <p
            class="font-marker text-main absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white px-4 pb-1.5 text-center text-6xl leading-none md:text-7xl"
          >
            {{ step.id }}
          </p>
          <p class="font-staatliches text-center text-3xl md:text-4xl">
            {{ step.title }}
          </p>
          <p class="mt-4 text-center font-light">
            {{ step.content }}
          </p>
          @if (step.button) {
            <!-- TODO VOIR POUR FAIRE LES BOUTONS FONCTIONNEL SELON LE LIEN OU L'ACTION DEFINIE -->
            <div class="mx-auto mt-auto w-max pt-8">
              <app-button>
                {{ step.button }}
              </app-button>
            </div>
          }
        </div>
      }
    </div>
  </div>
</section>
